<footer class="text-center">
<hr/>
You can find me on <a href="https://facebook.com/abhimanyu.m.a">Facebook</a>, <a href="https://twitter.com/abhimanyuma">Twitter</a> or <a href="https://www.quora.com/Abhimanyu-Mongandh-Ambalath">Quora</a>
<br/>
Additionally you can mail me at abhi@manyu.in (Which is moving to a dedicated SYS server)
<br/>
Minimal theme inspired from <a href="http://bettermotherfuckingwebsite.com/">website that I can't mention here</a>
</footer>
<script src="//cdn.livefyre.com/Livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "375387",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function() {});
}());
</script>
<!-- END: Livefyre Embed -->
